<div class="booking-container">
  <div class="info-booking">
<h2 class="title-success">Booking created successfully!</h2>
<p>
  Great! Your booking with <span class="title-success"><%= @booking.artist.name %></span>
  has been confirmed for <span class="title-success"><%= @booking.date %></span> at <span class="title-success"><%= @booking.start_hour %></span> o'clock.
</p>
</div>
</div>
