<div class="booking-container">
  <div class="info">
<h2 class="title-success">Booking created successfully!</h2>
<p>
  Great! Your booking with <span class="title-success"><%= @booking.artist.name %></span>
  has been confirmed for <%= @booking.date %> at <%= @booking.start_hour %> o'clock.
</p>
</div>
</div>
