.user-profile-container {
  display: flex;
  flex-flow: row wrap;
}

.profile-show {
  margin-bottom: 20em;
}

.profile-edit {
  margin: 5em;

  .title-user {
    font-family: Lato;
    font-size: 1vw;
  }
}
.title-main {
  color: #474544;
  font-size: 18px;
  margin:20px;
  letter-spacing: 7px;
  text-transform: uppercase;
}

.users-all-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#edit-user-container {
  border: solid 3px #474544;
  max-width: 40vw;
  position: relative;
  font-family: "Lato";
  flex: 1;
  margin: 5em;
  padding: 2em;
}

.image-profile {
  width: 20vw;
  border-radius: 1em;
  -webkit-box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
}

.user-show-container {
  display: flex;
  flex-flow: row wrap;
  margin-top: 10em;
  justify-content: center;
  text-align: center;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}

#blurb {
  text-transform: lowercase;
  font-size: 1.2vw;
  margin: 3em;
}

@media (max-width: 800px) {
  #blurb {
    font-size: 2vw;
  }
}

@media (max-width: 400px) {
  #blurb {
    font-size: 3vw;
  }
}


.visits-container {
 display: flex;
 flex-flow: row wrap;
 margin: 10em 0;
 justify-content: space-around;

}


.all-artist-container {
  margin: 10em 0;

}
