.user-profile-container {
  display: flex;
  flex-flow: row wrap;
}

.profile-show {
  margin-bottom: 20em;
}

.profile-edit {
  margin: 5em;

  .title-user {
    font-family: Lato;
    font-size: 1vw;
  }
}

#edit-user-container {
  border: solid 3px #474544;
  max-width: 40vw;
  position: relative;
  font-family: "Lato";
  flex: 1;
  margin: 5em;
  padding: 2em;
}

.image-profile {
  width: 20vw;
  border-radius: 1em;
  -webkit-box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
}


// #drawing-container {
//   margin: 20em !important;
// }
